<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{%block title%} {%endblock%}</title>

    {% load bootstrap4 %}
       {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {%include 'navbar.html' %}
</head>
<body>
{% include 'messages.html'%}
<div class="container mt-5">
{% block body %} {% endblock %}
</div>
    <script>
        setTimeout(function(){
            if ($('#msg').length > 0) {
                $('#msg').remove();
            }
        }, 2000)
    </script>

</body>
</html>


<!--<link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.min.css' %}"/>-->


