{% extends 'base.html' %}
{%block title%} Home {%endblock%}
{% block body %}
<div class="p-3 border bg-light">
    <h1> TakeTheTools</h1>

    <p> Willkommen zum Viertel Verleihsystem. Auf dem Reiter Werkzeuge auswählen kannst du Werkzeuge
    über den Barcode scanner in einen Warenkorb hinzufügen, sofern du dich vorher registriert hast. Dies kannst
    du mit deinem Chip oder via Passwort und Benutzername tun. </p>

    <p> Wenn du Fragen hast, wende dich an stoerte, jett oder leo </p>
</div>
{% endblock %}