{% extends "base.html" %}

{% block title %}
Home
{% endblock %}


{% block content %}
		{% if basket %}

		<h2>Leihkorb</h2>
		{% for item in basket %}
			{% for key, value in item.items() %}
			<p>{{ key }}&nbsp;{{ value }}</p>
			{% endfor %}
		{% endfor %}
		<h3>Total: {{ basket_sum }}</h3>

		<a href="/clearbasket" class="btn btn-default">Storno, Kasse 1!!!</a>

		<hr>
		{% endif %}
		<div class="row">
			<div class="col-md-2"></div>
				<div class="col-md-8">
					<h2>Kram verleihen</h2>
				</div>
			</form>
			<div class="col-md-2"></div>
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<form class="form-horizontal" method="POST" action="/sell">
				<div class="col-md-6">
					<input class="form-control" name="sellid" placeholder="Produkt oder Kundenkarte scannen." type="text" autofocus>
				</div>
				<div class="col-md-2">
					<input type="submit" value="Buchen" class="btn btn-primary" >
				</div>
			</form>
			<div class="col-md-2"></div>
		</div>

		<hr>

		<div class="row">
			<div class="col-md-2"></div>
				<div class="col-md-8">
					<h2>Neue Nutzerin</h2>
				</div>
			</form>
			<div class="col-md-2"></div>
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<form class="form-horizontal" method="POST" action="/adduser">
				<div class="col-md-6">
					<input class="form-control" name="username" placeholder="Neuen Nutzername hier eingeben." type="text">
				</div>
				<div class="col-md-2">
					<input type="submit" value="Nutzerin hinzufügen" class="btn btn-primary" >
				</div>
			</form>
			<div class="col-md-2"></div>
		</div>

		<hr>

		<div class="row">
			<div class="col-md-2"></div>
				<div class="col-md-8">
					<h2>Werkstattkonto aufladen</h2>
				</div>
			</form>
			<div class="col-md-2"></div>
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<form class="form-horizontal" method="POST" action="/topup">
				<div class="col-md-3">
					<input class="form-control" name="amount" placeholder="Betrag eingeben." type="text">
				</div>
				<div class="col-md-3">
					<input class="form-control" name="userid" placeholder="Kundenkarte scannen." type="text">
				</div>
				<div class="col-md-2">
					<input type="submit" value="Aufladen" class="btn btn-primary" >
				</div>
			</form>
			<div class="col-md-2"></div>
		</div>
	<hr>

	<div class="row">
		<div class="col-md-2"></div>
			<div class="col-md-8">
				<h2>Neues Werkzeug hinzufügen</h2>
			</div>
		</form>
		<div class="col-md-2"></div>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<form class="form-horizontal" method="POST" action="/addtool">
			<div class="col-md-3">
				<input class="form-control" name="name" placeholder="Name" type="text">
			</div>

                                    <div class="col-md-3">
				<input class="form-control" name="price" placeholder="Neupreis" type="text">
			</div>
                                    <div class="col-md-3">
				<input class="form-control" name="description" placeholder="Beschreibung" type="text">
			</div>
                                    <div class="col-md-3">
				<input class="form-control" name="brand" placeholder="Marke" type="text">
			</div>
                                    <div class="col-md-3">
				<input class="form-control" name="sec_class" placeholder="Gefährlichkeit" type="text">
			</div>
                                    <div class="col-md-3">
				<input class="form-control" name="trust_class" placeholder="Trust" type="text">
			</div>
                                    <div class="col-md-3">
				<input class="form-control" name="owner" placeholder="Eigentümerin" type="text">
			</div>
                                    <div class="col-md-3">
				<input class="form-control" name="available_amount" placeholder="Menge" type="text">
			</div>
                                    <div class="col-md-3">
				<input class="form-control" name="skill_class" placeholder="Erfoderliche Fähigkeit" type="text">
			</div>
                                    <div class="col-md-3">
				<input class="form-control" name="itemid" placeholder="Barcode" type="text">
			</div>
			<div class="col-md-2">
					<input type="submit" value="hinzufügen" class="btn btn-primary" >
				</div>
			
		</form>
		<div class="col-md-2"></div>
	</div>
	<hr>

	<div class="row">
		<div class="col-md-2"></div>
			<div class="col-md-8">
				<a href="/log" class="btn btn-primary">Log anzeigen</a>
				<a href="/users" class="btn btn-primary">Nutzerinnen anzeigen</a>
				<a href="/items" class="btn btn-primary">Shit anzeigen</a>
			</div>
		</form>
		<div class="col-md-2"></div>
	</div>
	<hr>
{% endblock %}