{% extends "base.html" %}

{% block title %}
Werkzeuginventar
Werkzeuginventar
{% endblock %}


{% block body %}


		<div class="row">
			<div class="col-md-2"></div>
				<div class="col-md-8">
					<h2>Werkzeuginventar</h2>

					{% if tooldata %}
						<table class="table table-striped">
							<tr>
								<th>ID</th>
								<th>Bezeichnung</th>
								<th>Marke</th>
								<th>Eigentümerin</th>
								<th>Gefahrenklasse</th>
								<th>Kommentar</th>
							</tr>
						{% for tool in tooldata %}
							<tr>

								<td>{{ tool.id }} </td>
								<td>{{ tool.name }} </td>
								<td>{{ tool.brand }} </td>
								<td>{{ tool.owner }} </td>
								<td>{{ tool.sec_class }} </td>
								<td>{{ tool.description }} </td>


							</tr>
						{% endfor %}
						</table>
					{% endif %}
				</div>
			</form>
			<div class="col-md-2"></div>
		</div>


	<hr>
{% endblock %}
