{% extends "base.html" %}

{% block title %}
Kassenlogbuch
{% endblock %}


{% block content %}


		<div class="row">
			<div class="col-md-2"></div>
				<div class="col-md-8">
					<h2>Kassenlogbuch</h2>

					{% if log %}
						<table class="table table-striped">
							<tr>
								<th>Zeit</th>
								<th>Typ</th>
								<th>Meldung</th>
							</tr>
						{% for entry in log %}
							<tr>
								{% for key, value in entry.items() %}
								<td>{{ value }}</td>
								{% endfor %}
							</tr>
						{% endfor %}
						</table>
					{% endif %}
				</div>
			</form>
			<div class="col-md-2"></div>
		</div>

	<div class="row">
		<div class="col-md-2"></div>
			<div class="col-md-8">
				<a href="/log" class="btn btn-primary">Log anzeigen</a>
				<a href="/users" class="btn btn-primary">Nutzerinnen anzeigen</a>
				<a href="/items" class="btn btn-primary">Shit anzeigen</a>
			</div>
		</form>
		<div class="col-md-2"></div>
	</div>
	<hr>
{% endblock %}
