<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {% load static %}
    <a class="navbar-brand" href="#">
        <img src="{%static 'img/logo.png' %}" width="40" height="40" alt="">
    </a>
    <h2>TakeTheToolz</h2>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Startseite</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="{% url 'cart' %}">Werkzeuge auswählen</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="{% url 'overview' %}">Verleihübersicht</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="{% url 'tools' %}">Werkzeugübersicht</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="{% url 'users' %}">Benutzerinnenübersicht</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="{% url 'register_user' %}">Neue Benutzerin registrieren</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="{% url 'register_tool' %}">Werkzeug hinzufügen</a>
            </li>

            <li class="nav-item">
                    <a class="nav-link" href="{% url 'export' %}">Barcodes drucken</a>
            </li>

        </ul>
	</div>
</nav>

