{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}

{% block title %}
Werkzeuginventar
{% endblock %}


{% block body %}

<div class="row">
    <div class="col">
        <h2>Werkzeuginventar</h2>

        {% if filter %}
        <form method="get">
            <div class="form-row">
                {% bootstrap_form filter.form form_group_class='col' show_label='skip' %}
                {% bootstrap_button 'filter' %}
            </div>
        </form>
        {% endif %}

    </div>
</div>
<div class="row mt-5">
    <div class="col">
        {% render_table table 'django_tables2/bootstrap4.html' %}
    </div>
</div>

{% endblock %}
